* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
}

body {
    background-color: var(--bg-color);
    text-align: justify;
}

.container {
    max-width: 900px;
    min-height: 900px;
    margin: 0 auto;
    background-color: var(--bg-color-cv);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    padding:30px;
    margin-top:30px;
    margin-bottom: 30px;
    .container-block {
        width: 90%;
        margin: 0 auto;
        padding:20px;
        display: grid;
        grid-template-columns: 2fr 5fr;
        .sidebar {
            text-align: initial;
            margin-top: 20px;
            margin-right: 20px;
        }
    }
}