@use "../mixins" as m;

.volunteering {
    .title {
        @include m.header;
    }
    .volunteering-item {
        margin-bottom: 20px;
        .role {
            @include m.sub-header;
        }
        .organization {
            @include m.body-text;
            font-weight: bold;
            .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
        .details {
            @include m.body-text;
        }
    }
}