.contact {
    margin-bottom: 20px;
    .title {
        @include sub-header;
    }
    .contact-item {
        display: flex;
        align-items: center;
        svg {
            width: 18px;
            display: inline-block;
            color: var(--fg-color);
        }
        @include body-link;
    }
}