.footer {
    .copyright {
        @include body-text;
        a {
            text-decoration: none;
            padding-top: 4px;
            padding-left: 4px;
            @include body-text;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}