.footer {
    .copyright {
        @include body-text;

        a:link, a:visited {
            text-decoration: none;
            color: var(--fg-color-link)
        }
        a:hover {
            color: var(--fg-color-link-hover)
        }
    }
}